<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.firstProject.dao.Activity_memberMapper" >
  <resultMap id="BaseResultMap" type="com.firstProject.pojo.Activity_memberKey" >
    <constructor >
      <idArg column="activity_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <idArg column="user_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    activity_id,user_id
  </sql>
  <delete id="deleteByPrimaryKey" parameterType="com.firstProject.pojo.Activity_memberKey" >
    delete from activity_member
    where activity_id = #{activityId,jdbcType=INTEGER}
      and user_id = #{userId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.firstProject.pojo.Activity_memberKey" >
    insert into activity_member (activity_id, user_id)
    values (#{activityId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.firstProject.pojo.Activity_memberKey" >
    insert into activity_member
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="activityId != null" >
        activity_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="activityId != null" >
        #{activityId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>

  <select id="selectByActivityId" parameterType="int" resultType="int">
      select count(1) from activity_member
      where activity_id = #{activityId}
  </select>

  <select id="selectUserIdByActivityId" parameterType="int" resultType="java.lang.Integer">
    select user_id from activity_member
    where activity_id = #{activityId}
  </select>

  <select id="selectByActivityIdUserId" resultMap="BaseResultMap" parameterType="map">
    select <include refid="Base_Column_List"/> from activity_member
    where user_id = #{userId}
    and activity_id = #{activityId}
  </select>



  <select id="selectByUserIdU" resultMap="BaseResultMap" parameterType="int">
    select
    <include refid="Base_Column_List"/>
    from activity_member
    where user_id=#{userId}
  </select>
  <select id="selectByActivityIdU" resultType="int" parameterType="int">
    select count(1)
    from activity_member
    where activity_id=#{activityId}
  </select>
  <select id="selectPepleByActivityIdU" resultMap="BaseResultMap" parameterType="int">
    select <include refid="Base_Column_List"/>
    from activity_member
    where activity_id=#{activityId}
  </select>
</mapper>